body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	color: black;
	overflow-x: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-block-start: 30px;
	background-color: #a7a5e4;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	display: flex;
	padding: 50px;
	min-width: 50vw;
	border-radius: 25px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	margin-block-start: 30px;
	background-color: #8583c0;
}

.form {
	margin-block-start: 30px;
}

.inputs {
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-block-end: 10px;
}

.form input {
	width: 200px;
	border: none;
	margin: 10px 0;
	padding: 10px;
	border-radius: 5px;
}

.buttons {
	margin-block-start: 30px;
}

.button {
	border: none;
	width: 200px;
	margin: auto;
	padding: 10px;
	color: #fff;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	margin-block-end: 10px;
	background-color: #504d95;
}

.resultsContainer {
	text-align: center;
}

footer {
	width: 100vw;
	text-align: center;
	margin-block-start: 20px;
	background-color: #8583c0;
}
